.voznje{
    border: 1px solid #000 ; 
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px; 
  padding: 15px;
  width: 80%; 
  max-width: 600px; 
  margin: 0 auto;
  margin-top: 10px;
}




select {
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}




